@charset 'utf-8';

/*header start */ 
.header .inner
{
	height: 120px;
	position: relative;
}
.header .inner .logo
{
	bottom: 15px;
	left: 0px;
	position: absolute;
}
.header .logo a
{
	color: #444;
	font: bold 24px/1 "arial";
}
.header .inner ul.gnb
{
	bottom: 0px;
	position: absolute;
	right: 0px;
}
.header .gnb li
{
	float: left;
}
.header .gnb li a
{
	color: #555;
	display: block;
	font: bold 15px/1 "arial";
	padding: 20px 40px;
	transition: 0.5s;
}
.header .gnb li a:hover
{
	background: #555;
	color: #fff;
}
.header .inner .util
{
	position: absolute;
	right: 0px;
	top: 20px;
}
.header .util li
{
	float: left;
}
.header .util li a
{
	border-right: 1px solid #aaa;
	color: #999;
	display: block;
	font: 12px/1 "arial";
	padding: 0px 10px;
}
.header .util li:last-child a
{
	border-right: none;
}
/*header end */ 
/*visual start */ 
.visual
{
	background: #000;
	height: calc(100vh - 120px);
	overflow: hidden;
	padding-top: 250px;
	position: relative;
	width: 100%;
}
.visual video
{
	height: 1125px;
	left: 50%;
	margin-left: -1000px;
	margin-top: calc(-1125px / 2);
	opacity: 0.3;
	position: absolute;
	top: 50%;
	width: 2000px;
}

.visual .container h2
{
	color: #fff;
	font: normal 120px/1 "arial";
	margin-bottom: 20px;
}
.visual .container p
{
	color: #888;
	font: 16px/1.4 "arial";
	margin-bottom: 60px;
}
.visual .container a
{
	border: 1px solid #bbb;
	color: #fff;
	display: block;
	font: bold 11px/30px "arial";
	height: 30px;
	letter-spacing: auto;
	text-align: center;
	transition: all 0.5s;
	width: 400px;
}
.visual .container a:hover
{
	background: #555;
	color: #fff;
}
/*visual end */ 
/*news start */ 
