.member {
    width:100%; padding:100px 0px;
    .sub_visual {
        background:violet;
    }

    .container{width:1180px; margin:0px auto;
        .agreement{margin-top:10px;}
        h2 {font:bold 26px/1 "arial"; color:#444; margin-bottom:20px; margin-top:50px;}
        table {width:100%; border-bottom:2px solid #111;
            tr:nth-of-type(1) {border-top:2px solid #111;
            }
            tr{
                th {width:20%; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:20px 40px; text-align:left;}
                td {width:80%; border-bottom:1px solid #ddd; padding:20px 40px;}

                &:last-child{
                    th{
                        text-align:center;
                    }
                }
            }
        }
    }
    input[type=text], input[type=password], select {
        width:30%; height:30px; border:1px solid #aaa; background:rgba(0,0,0,0.03); padding-left:15px;
    }
    textarea {width:100%; height:120px; background:rgba(0,0,0,0.03); border:1px solid #aaa; padding:20px; box-sizing:border-box; resize:none; font-size:14px; line-height:1.6;}

    input[type=checkbox],input[type=radio] {margin-right:20px;}
    label {margin-right:5px;}

    input[type=reset],input[type=submit] {
        width:120px;  height:40px;  font:bold 12px/40px "arial"; color:#666; text-align:center; border:1px solid #777; cursor:pointer; border-radius:20px; background:#fff;
    }
}

/* tablet */
@media screen and (max-width:1179px){
    .member{
        .container{
            width:100%;
            table{
                tr{
                    th {width:17%}
                    td {width:83%;}
                    td.email{
                        font-size: 0;
                        input{width:60%; margin-right:5%; box-sizing: border-box;}
                        select{width:30%; box-sizing: border-box;}
                    }
                }
            } 
        }
        input[type=text],input[type=password],select {width:100%;}
    } 
}

/* c.p */
@media screen and (max-width:539px){
    .member{
        .container{
            width:100%;
            table{
                tr{
                    th{display:none;}
                    td {width:100%}
                    &:last-child{
                        th{
                            display:block; width:100%;
                        }
                    }
                }
            }
        }
    }
}