.header{
    width:100%;
	height:100px;
	/* position: fixed; */
	/* background-color: red; */
}

.header .container{
    width: 1180px;
    margin: 0 auto;
	/* background: orange; */
	position: relative;
}

.headerLogo{
    width: 70px;
    height: 25px;
    display: inline-block;
	margin: 30px 100px 30px 0px;
	background: url(/images/logo_h1_v2.png) no-repeat center/cover;
	cursor: pointer;
	text-indent: -9999px;
}

.languageMenu{
	border-radius: 20px;
	/* background-color: pink; */
	position: absolute;
	right:3%;
	top:50%;
	margin-top: -15px;
	width:120px;
	box-sizing: border-box;
	padding:10px;
}

.headerMainMenu{
    display: inline-block;
    /* border: 10px solid; */
    /* margin: 30px 200px 30px 50px; */
}

.headerMainMenu .intro, .business, .promotion, .hire{
	display: inline-block;
	padding : 40px 20px;
	box-sizing: border-box;
	/* background-color: red; */
}

.site-map{
	/* float: right; */
    /* margin: 30px 10px; */
	/* border: 10px solid; */
	
    line-height: 90px;
    font-size: 17px;
    font-size: 1.0625rem;
    margin-right: 30px;
    color: #adadad;
	cursor: pointer;
	float:right;
	margin-right:170px;
}
.intro-inner{
	width:100%;
    position: absolute;
    top: 100px;
	left: 0px;
	

	height:100px;
    display: none;
}

/* .intro-inner::before{
	content:'';
	display:block;
	clear:both;
} */

.intro-inner{
	padding-top:30px;
	/* display: inline-block; */
	/* display:none; */
	/* background-color: yellow; */
	/* color:red; */
}


.intro-inner .Line li{
	display:block;
	/* color: #000; */
    /* cursor: pointer; */
	/* font-size: 1rem; */
	background-color: red;
	/* display: none; */
}

/* .intro-inner li:nth-of-type(2) ul{
	display: block;
} */

.intro:hover .intro-inner li{                                         
    color: green;           
    /* display: inline-block; */
}




/* .intro-inner ul li{
	float:none;
	background-color: red;
} */

.business-inner,.promotion-inner,.hire-inner{
    position: absolute;
    top: 100px;
	height:100px;
	line-height: 100px;
	display: none;
	/* display:inline-block; */
}

/* .business-inner{
	display: block;
	background: red; */

.business:hover .business-inner{
	/* display:inline-block; */
}
	

/* .business-inner:hover .business-inner{
	display:block;
} */

.business-inner:hover{
	display:block;
}

.promotion:hover .promotion-inner{                                         
    /* color: green;            */
    display: inline-block;
}
.hire:hover .hire-inner{                                         
    /* color: green;            */
    display: inline-block;
}


.intro-inner,.business-inner,.promotion-inner,.hire-inner,.lang{
    background-color: aqua;
}








