
/*헤더*/
.header{ 
    width: 100%;            /*고정형 레이아웃*/  
	min-height: 90px;
	line-height: 90px;           /*내가보기쉽게*/
	position: fixed;
	background-color: pink;
}

.header .container{
	width:1180px;
	margin:0px auto;
	background-color: yellow;
	position: relative;
	padding:30px;
	box-sizing: border-box;
}

.logo{
	position: absolute;
	width:70px;
	height:25px;
	cursor: pointer;
	/* margin-left:20px; */
	background: url(/images/logo_h1_v2.png) no-repeat center/cover;
	text-indent: -9999px;
}
.a{
	/* background: red; */
	float:right;
	width: 90px;
}
.language{
	/* background: yellow; */
	width: 90px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	top:40%;
	background:white;
}

.langua{
	position: absolute;
	top: 0;
    left: 0;
	display:none;
	line-height: 30px;
	/* background: yellow; */
    width: 100%;
	border-radius: 15px;
	border:1px solid gray;
}
.language:hover .langua{
	display:block;
}



.business-inner{
	padding-left:20%
}
.promotion-inner{
	padding-left:25%;
}
.hire-inner{
	padding-left:33%;
}

.intro-inner, .business-inner,.promotion-inner,.hire-inner{
	position: absolute;
    top: 100px;
	background:gray;
	width: 100%;
	display:none;
	left:0;
	height:120%;
}


.gnb{
	background-color: red;
	margin-left:150px;
}




/* .mainmenu>li>span{
	float: left;
}
.mainmenu{
	width:800px;
	float:left;
	padding-left: 50px;
}
.mainmenu li{
    margin:0 20px 0 20px;
}
.mainmenu span{
    padding:0 20px 0 20px;
}
.site-map{
	margin-left:100px;
	color: gray;
}
.intro:hover .intro-inner{                                                    
	display: flex;
	cursor: pointer;
}
.business:hover .business-inner{                                                   
	display: flex;
	cursor: pointer;
}
.promotion:hover .promotion-inner{                                              
	display: flex;
	cursor: pointer;
}
.hire:hover .hire-inner{                                                
	display: flex;
	cursor: pointer;
}
.intro:hover .main-menu-i{
	color:green;
	cursor: pointer;
}
.business:hover .main-menu-b{                                                   
	color:green;
	cursor: pointer;
}
.promotion:hover .main-menu-p{                                              
	color:green;
	cursor: pointer;
}
.hire:hover .main-menu-h{                                                
	color:green;
	cursor: pointer;
}
.nl{
	margin-top:-80px;
}
.n{
	height:20px;
} */



