/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*헤더*/
.head{
    position: relative;       /*로고의 위치가 absolute가 되야되서 부모인 이친구가 릴레이티브여야 로고가 절대값을 가질 수 있음*/  
    border:1px solid gray;  /*내가보기쉽게*/
    width: 1200px;            /*너비를 정해줌*/  
    min-height: 100px;        /*다떠있어서 최소높이좀잡아주자*/
}

.logo{
    background-color: red;     /*걍구분할려고*/
    position: absolute;       /*이친구는 절대값으로 고정될거임*/
    top:50px;                   /*걍 특정위치 잡게*/
    left:65px;
}

.nav{
    /* position: relative; */
    background-color:pink; /*범위좀볼게요*/
    /* display: inline-block;   인라인블록처리해서 공간은 인라인 */
    /* float:right;            정렬 알아보기 쉽게 구석탱이로 밀어둠 */
}
.nav ul{
    float: left;
}
 .mainmenu>li{
    float: left;
}


.mainmenu li ul li{
    display:none;    /*하위메뉴들 가려놓기*/
}

/* .mainmenu{
    display:inline-block;
} */


