.member .sub_visual{
    background-color: lightskyblue
}
.member .inner .agreement{margin-top:10px;}
.member .inner h2 {font:bold 26px/1 "arial"; color:#444; margin-bottom:20px; margin-top:50px;}
.member .inner table {width:100%; border-bottom:2px solid #111;}
.member .inner table tr:nth-of-type(1) {border-top:2px solid #111;}
.member .inner table tr th {width:20%; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:20px 40px; text-align:left;}
.member .inner table tr td {width:80%; border-bottom:1px solid #ddd; padding:20px 40px;}
.member input[type=text], .member input[type=password], .member select {
    width:30%; height:30px; border:1px solid #aaa; background:rgba(0,0,0,0.03); padding-left:15px;
}
.member textarea {width:100%; height:120px; background:rgba(0,0,0,0.03); border:1px solid #aaa; padding:20px; box-sizing:border-box; resize:none; font-size:14px; line-height:1.6;}
.member input[type=checkbox], .member input[type=radio] {margin-right:20px;}
.member label {margin-right:5px;}
/* .member input[type=text]::-webkit-input-placeholder {color:violet;}  */
.member input[type=reset], .member input[type=submit] {
    width:120px;  height:40px;  font:bold 12px/40px "arial"; color:#666; text-align:center; border:1px solid #777; cursor:pointer; border-radius:20px; background:#fff;
}
.member .inner table tr:last-child th {text-align:center; border-right:none}


/* tablet */
@media screen and (max-width:1179px){
    .member .inner table tr th {width:17%}
    .member .inner table tr td {width:83%}
    .member input[type=text], .member input[type=password], .member select {width:100%;}
    .member .inner table tr td.email {font-size: 0;}
    .member .inner table tr td.email input{width:60%; margin-right:5%; box-sizing: border-box;}
    .member .inner table tr td.email select{width:30%; box-sizing: border-box;}
}

/* c.p */
@media screen and (max-width:539px){
    .member .inner table tr th {display:none;}
    .member .inner table tr td {width:100%}
    .member .inner table tr:last-child th{display:block; width:100%;}
}