@charset "UTF-8";
/* reset */
* {
  margin: 0px;
  padding: 0px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 1;
  color: #777;
}

img, fieldset {
  border: 0;
}

table, th, td {
  border-collapse: collapse;
}

input, select, textarea, form, img, label {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
  text-indent: -9999px;
}

.container {
  width: 1180px;
  margin: 0px auto;
}

.pic {
  overflow: hidden;
  position: relative;
  /* text-indent:-9999px; */
}

.pic::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap::after {
  content: '';
  display: block;
  clear: both;
}

.header_sub {
  width: 100%;
  padding: 40px 0px 20px;
  border-bottom: 1px solid #ddd;
}

.header_sub .container {
  width: 1180px;
  margin: 0px auto;
  position: relative;
}

.header_sub .container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.header_sub .container h1 a {
  font: bold 36px/1 "arial";
  color: #555;
}

.header_sub .container h1 span {
  display: block;
  margin-top: 5px;
  font: 12px/1 "arial";
  color: #888;
  letter-spacing: 2px;
}

.header_sub .container .menuWeb .gnb {
  width: 100%;
}

.header_sub .container .menuWeb .gnb::after {
  content: "";
  display: block;
  clear: both;
}

.header_sub .container .menuWeb .gnb li {
  float: left;
  width: 20%;
  height: 70px;
}

.header_sub .container .menuWeb .gnb li a {
  display: block;
  width: 100%;
  height: 100%;
  font: bold 14px/70px "arial";
  color: #999;
  text-align: center;
}

.header_sub .container .menuWeb .gnb li a:hover {
  color: orange;
}

.header_sub .container .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 26px;
  color: #444;
  display: none;
}

.header_sub .container .menuMo {
  position: fixed;
  top: 0px;
  left: -270px;
  background: #333;
  z-index: 10;
  width: 270px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_sub .container .menuMo.on {
  left: 0px;
}

.header_sub .container .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}

.header_sub .container .menuMo h1 a {
  color: #fff;
  display: block;
  text-align: center;
}

.header_sub .container .menuMo h1 span {
  color: #aaa;
  font-size: 12px;
}

.header_sub .container .menuMo .gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

.content {
  width: 100%;
  padding-bottom: 100px;
}

.content .sub_visual {
  width: 100%;
  height: 150px;
  background: gray;
  margin-bottom: 100px;
}

.content .container {
  width: 1180px;
  margin: 0px auto;
  min-height: 400px;
}

.content .container h1 {
  font: normal 24px/1 "arial";
  color: #555;
  margin-bottom: 50px;
}

.footer_sub {
  width: 100%;
  padding: 60px 0px 20px;
  background: #555;
}

.footer_sub .upper {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #777;
}

.footer_sub .upper .container {
  width: 1180px;
  margin: 0px auto;
}

.footer_sub .upper .container .wrap:after {
  content: "";
  display: block;
  clear: both;
}

.footer_sub .upper .container .wrap dl {
  width: 15%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
}

.footer_sub .upper .container .wrap dl dt {
  font: bold 16px/1 "arial";
  color: #999;
  margin-bottom: 15px;
}

.footer_sub .upper .container .wrap dl dd {
  font: 14px/1 "arial";
  color: #777;
  margin-bottom: 10px;
}

.footer_sub .upper .container .wrap p {
  width: 40%;
  float: left;
  text-align: right;
  font: 18px/1.2 "arial";
  color: #888;
}

.footer_sub .lower .container {
  width: 1180px;
  margin: 0px auto;
}

.footer_sub .lower .container .wrap {
  text-align: center;
  padding: 25px 0px;
}

.footer_sub .lower .container .wrap::after {
  content: "";
  display: block;
  clear: both;
}

.footer_sub .lower .container .wrap h1 {
  font: bold 30px/1 "arial";
  color: #888;
  float: left;
}

.footer_sub .lower .container .wrap p {
  display: inline-block;
  font: 12px/1 "arial";
  color: #777;
  letter-spacing: 2px;
}

.footer_sub .lower .container .wrap select {
  float: right;
  width: 250px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #999;
  color: #999;
}

/* tablet */
@media screen and (max-width: 1179px) {
  .header_sub {
    padding: 30px 0px 15px;
  }
  .header_sub .container {
    width: 100%;
  }
  .header_sub .container h1 {
    margin-bottom: 15px;
  }
  .header_sub .container .menuWeb {
    display: none;
  }
  .header_sub .container .btnCall {
    display: block;
  }
  .content .sub_visual {
    margin-bottom: 80px;
  }
  .content .container {
    width: 100%;
    padding: 0px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .content .container h1 {
    font: normal 24px/1 "arial";
    color: #555;
    margin-bottom: 50px;
  }
  .footer_sub {
    padding: 60px 30px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer_sub .upper .container {
    width: 100%;
  }
  .footer_sub .upper .container .wrap dl {
    width: 25%;
  }
  .footer_sub .upper .container .wrap p {
    width: 100%;
    text-align: left;
    margin-top: 40px;
  }
  .footer_sub .lower .container {
    width: 100%;
  }
  .footer_sub .lower .container .wrap {
    text-align: center;
  }
  .footer_sub .lower .container .wrap h1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer_sub .lower .container .wrap p {
    display: block;
    width: 100%;
  }
  .footer_sub .lower .container .wrap select {
    padding: 5px 10px;
    float: none;
    margin-top: 50px;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  .header_sub {
    padding: 20px 0px 10px;
  }
  .header_sub .container h1 a {
    font-size: 24px;
  }
  .header_sub .container h1 span {
    font-size: 11px;
    letter-spacing: 0px;
  }
  .footer_sub .upper .container .wrap dl {
    width: 50%;
    margin-bottom: 40px;
  }
}

.community {
  width: 100%;
  padding: 100px 0px;
}

.community .sub_visual {
  background: lightgreen;
}

.community .container {
  width: 1180px;
  margin: 0px auto;
}

.community .container table {
  width: 100%;
  border-bottom: 2px solid #111;
  margin-bottom: 50px;
}

.community .container table th {
  padding: 15px;
  background: #444;
  color: #fff;
}

.community .container table th:nth-of-type(1) {
  width: 10%;
}

.community .container table th:nth-of-type(2) {
  width: 60%;
}

.community .container table th:nth-of-type(3) {
  width: 15%;
}

.community .container table th:nth-of-type(4) {
  width: 15%;
}

.community .container table td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.community .container table td a {
  float: left;
  color: #666;
}

.community .container table tr:nth-of-type(even) td {
  background-color: #eee;
}

.community .container table tr:hover td {
  background-color: lightcyan;
}

.community .container .pagination {
  width: 100%;
  text-align: center;
}

.community .container .pagination::after {
  content: "";
  display: block;
  clear: both;
}

.community .container .pagination .prev {
  display: block;
  width: 100px;
  height: 30px;
  background: #555;
  font: bold 12px/30px "arial";
  color: #eee;
  text-align: center;
  float: left;
}

.community .container .pagination .next {
  display: block;
  width: 100px;
  height: 30px;
  background: #555;
  font: bold 12px/30px "arial";
  color: #eee;
  text-align: center;
  float: right;
}

.community .container .pagination .numbers {
  display: inline-block;
  font-size: 0;
}

.community .container .pagination .numbers a {
  display: inline-block;
  border: 1px solid #888;
  width: 30px;
  height: 30px;
  font: 11px/30px "arial";
  color: #666;
  text-align: center;
  margin: 0px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.community .container .pagination .numbers a:hover {
  background: #666;
  color: #fff;
}

/* ----------------tablet------------------- */
@media screen and (max-width: 1179px) {
  .community {
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .community .container {
    width: 100%;
  }
  .community .container table th:nth-of-type(1) {
    width: 15%;
  }
  .community .container table th:nth-of-type(2) {
    width: 65%;
  }
  .community .container table th:nth-of-type(3) {
    width: 20%;
  }
  .community .container table th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .container table td:nth-of-type(4) {
    display: none;
  }
  .community .container table td a {
    text-align: left;
  }
  .community .container .pagination .numbers a:nth-of-type(n+6):nth-of-type(-n+10) {
    display: none;
  }
}

/* ----------------C.P------------------- */
@media screen and (max-width: 539px) {
  .community {
    padding: 60px 30px;
  }
  .community .container table th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .container table th:nth-of-type(2) {
    width: 80%;
  }
  .community .container table td:nth-of-type(1) {
    display: none;
  }
  .community .container .pagination .numbers {
    display: none;
  }
}

.member {
  width: 100%;
  padding: 100px 0px;
}

.member .sub_visual {
  background: violet;
}

.member .container {
  width: 1180px;
  margin: 0px auto;
}

.member .container .agreement {
  margin-top: 10px;
}

.member .container h2 {
  font: bold 26px/1 "arial";
  color: #444;
  margin-bottom: 20px;
  margin-top: 50px;
}

.member .container table {
  width: 100%;
  border-bottom: 2px solid #111;
}

.member .container table tr:nth-of-type(1) {
  border-top: 2px solid #111;
}

.member .container table tr th {
  width: 20%;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 20px 40px;
  text-align: left;
}

.member .container table tr td {
  width: 80%;
  border-bottom: 1px solid #ddd;
  padding: 20px 40px;
}

.member .container table tr:last-child th {
  text-align: center;
}

.member input[type=text], .member input[type=password], .member select {
  width: 30%;
  height: 30px;
  border: 1px solid #aaa;
  background: rgba(0, 0, 0, 0.03);
  padding-left: 15px;
}

.member textarea {
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #aaa;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  font-size: 14px;
  line-height: 1.6;
}

.member input[type=checkbox], .member input[type=radio] {
  margin-right: 20px;
}

.member label {
  margin-right: 5px;
}

.member input[type=reset], .member input[type=submit] {
  width: 120px;
  height: 40px;
  font: bold 12px/40px "arial";
  color: #666;
  text-align: center;
  border: 1px solid #777;
  cursor: pointer;
  border-radius: 20px;
  background: #fff;
}

/* tablet */
@media screen and (max-width: 1179px) {
  .member .container {
    width: 100%;
  }
  .member .container table tr th {
    width: 17%;
  }
  .member .container table tr td {
    width: 83%;
  }
  .member .container table tr td.email {
    font-size: 0;
  }
  .member .container table tr td.email input {
    width: 60%;
    margin-right: 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .member .container table tr td.email select {
    width: 30%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .member input[type=text], .member input[type=password], .member select {
    width: 100%;
  }
}

/* c.p */
@media screen and (max-width: 539px) {
  .member .container {
    width: 100%;
  }
  .member .container table tr th {
    display: none;
  }
  .member .container table tr td {
    width: 100%;
  }
  .member .container table tr:last-child th {
    display: block;
    width: 100%;
  }
}

.department .sub_visual {
  background: lightblue;
}

.department .division {
  width: 100%;
  height: 600px;
  background: url(/img/bgDIvision.jpg) no-repeat center/contain;
}

.department .division .div_tree {
  opacity: 0;
  position: absolute;
  top: -99999px;
}

@media screen and (max-width: 1179px) {
  .department .division {
    height: 60vw;
  }
}

@media screen and (max-width: 539px) {
  .department .division {
    height: auto;
    background: none;
  }
  .department .division .div_tree {
    opacity: 1;
    position: relative;
    top: 0px;
  }
  .department .division .div_tree li span {
    display: block;
    background-color: #111;
    width: 40%;
    height: 50px;
    margin-bottom: 20px;
    font: bold 13px/50px "맑은 고딕";
    color: #fff;
    text-align: center;
    border-radius: 25px;
  }
  .department .division .div_tree li span::after {
    content: '';
    display: block;
    width: 1px;
    background: #aaa;
    position: absolute;
    left: 50px;
    height: 1165px;
  }
  .department .division .div_tree li ul li span {
    background: #666;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  .department .division .div_tree li ul li span::before {
    width: 20px;
    height: 1px;
    display: block;
    content: '';
    background: #aaa;
    position: absolute;
    top: 50%;
    left: -20px;
  }
  .department .division .div_tree li ul li:nth-of-type(1) span::after {
    display: none;
  }
  .department .division .div_tree li ul li:nth-of-type(2) span::after {
    display: none;
  }
  .department .division .div_tree li ul li:nth-of-type(3) span::after {
    height: 115px;
  }
  .department .division .div_tree li ul li:nth-of-type(4) span::after {
    height: 185px;
  }
  .department .division .div_tree li ul li:nth-of-type(5) span::after {
    height: 115px;
  }
  .department .division .div_tree li ul li:nth-of-type(6) span::after {
    height: 185px;
  }
  .department .division .div_tree li ul li:nth-of-type(7) span::after {
    height: 115px;
  }
  .department .division .div_tree li ul li ul li span {
    background: #999;
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
  }
  .department .division .div_tree li ul li ul li span::after {
    display: none;
  }
}

/* header start */
.header {
  padding: 50px 0px;
}

.header .container {
  text-align: center;
  position: relative;
}

.header .container .logo a {
  color: #000;
  font: bold 40px/1 "arial";
}

.header .container span {
  display: block;
  font: bold 12px/1 "arial";
  color: #888;
}

.header .container .gnb {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}

.header .container .gnb li {
  float: left;
  width: 20%;
  height: 70px;
  line-height: 70px;
}

.header .container .gnb li a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  color: #666;
}

.header .container .gnb li a:hover {
  background: #999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: underline;
  color: #000;
}

.header .container .btnCall {
  position: absolute;
  bottom: 50%;
  right: 30px;
  font-size: 30px;
  color: #555;
  display: none;
}

.header .container .menuMo {
  width: 280px;
  height: 100%;
  background: #333;
  position: fixed;
  top: 0px;
  left: -280px;
  z-index: 9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .container .menuMo.on {
  left: 0px;
}

.header .container h1 a {
  color: #fff;
  display: block;
  text-align: center;
}

.header .container h1 span {
  color: #aaa;
  font-size: 12px;
}

.header .container .gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

/* header end */
/* visual start */
.visual {
  width: 100%;
  overflow: hidden;
  height: 700px;
  background: #555;
  color: #fff;
  margin-bottom: 100px;
}

.visual .swiper-slide {
  text-align: center;
  font-size: 50px;
  width: 100%;
}

/* visual end */
/* news start */
.news {
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}

.news .container span {
  display: block;
}

.news .container article {
  width: calc(100%/6);
  float: left;
  padding: 40px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news .container article i {
  width: 100%;
  font-size: 40px;
}

.news .container article p {
  padding: 20px;
}

/* news end */
/* brand start */
.brand {
  width: 100%;
  padding: 50px 0px;
  margin-bottom: 100px;
}

.brand .container article {
  width: 280px;
  margin-right: 20px;
  float: left;
  border-top: 3px solid #111;
  padding-top: 10px;
}

.brand .container article:last-child {
  margin-right: 0px;
}

.brand .container article .pic {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.brand .container article span a {
  color: #777;
}

.brand .container article:nth-of-type(1) .pic::before {
  background-image: url(/img/brand1.jpg);
}

.brand .container article:nth-of-type(1) span {
  padding: 20px 20px 5px 20px;
  display: block;
  font: bold 16px/1 'arial';
  color: #555;
}

.brand .container article:nth-of-type(1) p {
  padding: 20px 20px 5px 20px;
  font: normal 12px/1;
  color: #555;
}

.brand .container article:nth-of-type(2) .pic::before {
  background-image: url(/img/brand2.jpg);
}

.brand .container article:nth-of-type(2) span {
  padding: 20px 20px 5px 20px;
  display: block;
  font: bold 16px/1 'arial';
  color: #555;
}

.brand .container article:nth-of-type(2) p {
  padding: 20px 20px 5px 20px;
  font: normal 12px/1;
  color: #555;
}

.brand .container article:nth-of-type(3) .pic {
  height: 320px;
}

.brand .container article:nth-of-type(3) .pic::before {
  background-image: url(/img/news1.jpg);
}

.brand .container article:nth-of-type(4) h3 {
  font: bold 50px/1 'arial';
}

.brand .container article:nth-of-type(4) h4 {
  font-size: 35px;
  margin-bottom: 10px;
}

.brand .container article:nth-of-type(4) h4::after {
  content: '';
  display: block;
  width: 65px;
  border-top: 3px solid #000;
}

.brand .container article:nth-of-type(4) span {
  font: bold 16px/1 'arial';
}

.brand .container article:nth-of-type(4) p {
  font: normal 12px/1;
  color: #555;
  margin: 10px 0px;
}

.brand .container article:nth-of-type(4) .moreBtn {
  color: #555;
  cursor: pointer;
}

.brand .container article:nth-of-type(4) .moreBtn::after {
  content: '>>';
}

/* brand end */
/* footer start */
.footer {
  width: 100%;
  background-color: #555;
  position: relative;
  padding: 50px 0px;
}

.footer .up:first-child {
  border-bottom: 1px solid #888;
  padding: 20px 0px;
}

.footer .up .left {
  width: 70%;
  float: left;
}

.footer .up .left ul {
  float: left;
  width: 25%;
}

.footer .up .left ul li {
  margin-bottom: 5px;
}

.footer .up .left ul li:first-child {
  margin-bottom: 10px;
}

.footer .up .left ul li:first-child a {
  font-size: 20px;
  color: #999;
}

.footer .up .left ul li a, .footer .up .left ul li h4 {
  font-size: 14px;
  color: #777;
}

.footer .up .right {
  width: 30%;
  float: right;
}

.footer .up .right span {
  display: block;
  width: 33%;
  float: right;
  color: #777;
}

.footer .down {
  width: 100%;
  text-align: center;
  padding: 60px 0px;
}

.footer .down .logo {
  height: 30px;
  font: bold 30px/30px "arial";
  color: #999;
  float: left;
}

.footer .down span {
  color: #999;
}

.footer .down select {
  width: 15%;
  font: bold 16px/30px "arial";
  color: #999;
  float: right;
}

/* footer end */
@media screen and (max-width: 1179px) {
  .header .container {
    width: 100%;
  }
  .header .container .gnb li a {
    margin-right: 0px;
    font-size: 12px;
  }
  .visual {
    margin-bottom: 30px;
  }
  .visual .swiper-slide {
    font-size: 30px;
  }
  .news .container {
    text-align: center;
    width: 100%;
  }
  .news .container article {
    width: 27%;
    margin-right: 20px;
  }
  .news .container article i {
    display: block;
    width: 100%;
    font-size: 50px;
  }
  .brand {
    padding: 30px 0px;
    margin-bottom: 50px;
  }
  .brand .container {
    width: 100%;
  }
  .brand .container article {
    width: 40%;
  }
  .brand .container article:last-child {
    margin-right: 0px;
  }
  .brand .container article div {
    width: 100%;
    height: 200px;
  }
  .brand .container article:nth-of-type(1) span {
    font: bold 24px/1;
  }
  .brand .container article:nth-of-type(2) span {
    font: bold 24px/1;
  }
  .brand .container article:nth-of-type(3) div {
    height: 250px;
  }
  .footer .up .left {
    width: 100%;
  }
  .footer .up .left ul {
    width: 25%;
    text-align: center;
  }
  .footer .up .right {
    display: none;
  }
  .footer .container {
    width: 100%;
  }
}

@media screen and (max-width: 539px) {
  .header {
    padding: 20px 0px;
  }
  .header::after {
    content: '';
    display: block;
    clear: both;
  }
  .header .logo a {
    float: left;
  }
  .header .container span {
    display: none;
  }
  .header .container .menuWeb {
    display: none;
  }
  .header .container .btnCall {
    display: block;
    position: absolute;
    top: 50%;
  }
  .visual {
    height: 800px;
  }
  .news .container article {
    width: 100%;
  }
  .news .container article i {
    font-size: 50px;
  }
  .brand {
    padding: 0px;
    margin-bottom: 30px;
  }
  .brand .container article {
    width: 100%;
    margin-bottom: 20px;
  }
  .brand .container article div {
    height: 150px;
  }
  .brand .container article:nth-of-type(3) div {
    height: 300px;
  }
  .footer {
    padding: 0px;
  }
  .footer .up .left ul li a {
    display: none;
  }
  .footer .down .logo {
    height: 20px;
    font: bold 20px/20px "arial";
  }
  .footer .down span {
    font-size: 12px;
  }
  .footer .down select {
    width: 25%;
    font: normal 20px/20px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */